.navbar
    background: rgba(236, 240, 241,1)
    //box-shadow: 0px 0px 10px rgba(44, 62, 80,1.0)
    &_main
        transition: 1s ease
        //position: fixed
        opacity: 1
        position: fixed
        z-index: 999
        width: 100%
        transform: translateY(0px) scale(1) 
    &_main_active 
        box-shadow: 0px 0px 15px rgba(44, 62, 80,1.0)
        opacity: 1 
        animation: bouncemenu 1s ease 1
        transform: translateY(-68px)
        position: fixed
        transform-origin: top center
    &_main_active_mobile
        box-shadow: 0px 0px 15px rgba(44, 62, 80,1.0)
        opacity: 1 
        position: fixed
        transform-origin: top center
    &_wrap_title 
        display: flex
        align-items: center 
    &_wrap
        position: relative
        padding: 25px 0px
        display: flex 
        justify-content: space-between
        align-items: center 
    &_wrap_list_ul
        list-style: none 
        padding: 0
        margin: 0
        display: flex 
        align-items: center
    &_wrap_list_li 
        font-size: 16px
        padding-left: 20px
        padding-right: 20px
        +tech
        
    &_links 
        text-decoration: none
        color: rgba(44, 62, 80,1.0)
    &_wrap_title_logo 
        margin-left: 25px
        +tech
        color: rgba(52, 152, 219,1.0)
        letter-spacing: 2px
        position: relative
        transition: 1s ease
        //text-transform: uppercase 
    &_wrap_title_logo::after 
        position: absolute
        content: ''
        width: 100% 
        height: 2px 
        transform-origin: left center
        transform: scale(0)
        bottom: -10px
        border-radius: 10px
        left: 0
        transition: 0.4s
        background: #2980b9
    &_wrap_title_logo:hover::after
        transform: scale(1)
        transition: 0.4s ease
    &_wrap_logotype 
        background: url('../img/logotype.png') no-repeat center 
        background-size: contain 
        //position: absolute
        margin-left: 25px
        width: 50px 
        height: 50px 
    &_wrap_telephone_title
        +tech
        font-size: 24px
        margin-left: 10px
        color: #2980b9
        transition: 0.5s ease
        z-index: 99
    &_wrap_telephone_title:hover 
        color: #3498db
        transition: 0.4s ease
    &_wrap_telephone
        transition: 1s ease
        padding-left: 20px
    &_wrap_list_link
        transition: 0.4s
        position: relative
    &_wrap_list_link::before 
        position: absolute
        width: 100%
        height: 2px 
        left: 0
        transform: scale(0)
        background: #2980b9
        bottom: -5px
        transition: 0.1s ease
        content: ''
    &_wrap_list_link:hover
        color: #2980b9
        transition: 0.4s ease
    &_wrap_list_link:hover::before 
        transition: 0.4s ease
        transform: scale(1)
    &_wrap_list_active
        visibility: hidden 
        transform: scale(0)
        position: absolute
    &_wrap_list_menu
    &_wrap_list_responsive
        visibility: hidden
        position: absolute
    

@media (max-width: 1170px)
    .navbar
        &_wrap_list_ul
            visibility: hidden
        &_wrap_list_menu_link 
            width: 40px
            height: 40px 
            //border: 1px solid black
            position: absolute
            right: 40px
            top: 50% 
            transform: translateY(-50%)
        &_wrap_list_menu
            width: 40px
            height: 4px
            background: rgba(41, 128, 185,1.0)
            position: absolute
            content: ''
            top: 50%
            transform: translateY(-50%)
            border-radius: 50px
        &_wrap_list_menu::before 
            width: 40px
            height: 4px
            background: rgba(41, 128, 185,1.0)
            position: absolute
            content: ''
            transform: translateY(14px)
            border-radius: 50px
        &_wrap_list_menu::after
            border-radius: 50px
            width: 40px
            height: 4px
            background: rgba(41, 128, 185,1.0)
            position: absolute
            content: ''
            transform: translateY(-14px)
        &_description_wrap
            padding: 0
            margin: 0
            width: 0 
            height: 0
            visibility: hidden
        &_wrap
            padding-top: 20px
            padding-bottom: 20px
        &_wrap_list_responsive
            visibility: visible
            position: relative
        &_wrap_menu_search
            color: #2c3e50
            position: relative
            margin-right: 100px
    


@keyframes bouncemenu 
    0%
        transform: translateY(0px) scale(1) 
    25%
        transform: translateY(-68px) scale(1) 
    50%
        transform: translateY(-48px) scale(1) 
    100%
        transform: translateY(-68px) scale(1) 

@keyframes telephone 
    0%
        transform: translateY(0px)
    50%
        transform: translateY(-10px)
    100% 
        transform: translateY(0px)