.navbar
    background: rgba(236, 240, 241,1)
    //box-shadow: 0px 0px 10px rgba(44, 62, 80,1.0)
    &_main
        transition: 1s ease
        //position: fixed
        opacity: 1
        position: fixed
        z-index: 999
        width: 100%
        transform: translateY(0px) scale(1) 
    &_main_active 
        box-shadow: 0px 0px 15px rgba(44, 62, 80,1.0)
        opacity: 1 
        animation: bouncemenu 1s ease 1
        transform: translateY(-68px)
        position: fixed
        transform-origin: top center
    &_wrap_title 
        display: flex
        align-items: center 
    &_wrap
        padding: 25px 0px
        display: flex 
        justify-content: space-between
        align-items: center 
    &_wrap_list_ul
        list-style: none 
        padding: 0
        margin: 0
        display: flex 
        align-items: center
    &_wrap_list_li 
        font-size: 16px
        padding-left: 20px
        padding-right: 20px
        +tech
        
    &_links 
        text-decoration: none
        color: rgba(44, 62, 80,1.0)
    &_wrap_title_logo 
        margin-left: 25px
        +tech
        
        color: rgba(52, 152, 219,1.0)
        letter-spacing: 2px
        //text-transform: uppercase 
    &_wrap_logotype 
        background: url('../img/logotype.png') no-repeat center 
        background-size: contain 
        //position: absolute
        margin-left: 25px
        width: 50px 
        height: 50px 
    &_wrap_telephone_title
        +tech
        font-size: 24px
        margin-left: 10px
        color: #2980b9
    &_wrap_telephone
        padding-left: 20px




@keyframes bouncemenu 
    0%
        transform: translateY(0px) scale(1) 
    25%
        transform: translateY(-68px) scale(1) 
    50%
        transform: translateY(-48px) scale(1) 
    100%
        transform: translateY(-68px) scale(1) 